
body {
	text-align:center;
}

#case{
	width: 100%;
	line-height: 1;
	min-width: 1100px;
	overflow:hidden; 
}

#case .top_title{
	width: 100%;
	position: relative;
}



#case .top_title h1{
	margin: 0 auto;
	padding: 100px 0 40px;
	font-size: 50px;
	font-size: 5rem;
	letter-spacing: 0.02em;
}

#case .top_title hr {
	border: solid #000;
	border-width: 1px 0 0 0;
	width: 56px;
	margin:0 auto;
}

#case .top_title p{
	line-height: 2.1;
	padding: 40px 0 90px;
}

#case .case_category{
	width: 100%;
}


.case_main_slide{
	width: 100%;
	position: relative;
	margin-bottom: 130px;
}

.case_main_slide .slide_num{
	
	position: absolute;
	z-index: 100;
	font-weight: 100;
	top:-35px;
	right: 60px;
	font-family:'Roboto','Helvetica Neue', sans-serif;
	font-size: 100px;
	font-size: 10rem;
	letter-spacing: 0;
}


.case_main_slide .slider{
	width: 100%;
	min-width: 1233px;
	box-sizing: border-box;
	padding-right: 133px;
}

.case_main_slide .img_box{
	height: 450px;
	min-width: 1233px;
	width:100%;
	position: relative;
	background-size: cover;
	background-position: center center;
}


.case_main_slide .text_box{
	background-color: #F3F3F3;
	min-width: 1100px;
	width:100%;
	height: 350px;
	position: relative;
	text-align: left;
}

.case_main_slide .text_box h2{
	font-size: 20px;
	font-size: 2rem;
	letter-spacing: 0.1em;
	line-height: 1.75;
	font-weight: bold;
	margin-bottom: 20px;

}
.case_main_slide .text_box h2 span{
	display: inline-block;
	margin-left: 30px;
	font-size: 12px;
	font-size: 1.2rem;
	color: #999;
	vertical-align: text-bottom;
}

.case_main_slide .text_box .tag_box{
	margin-bottom: 20px;
}

.case_main_slide .text_box .tag_box a{
	display: inline-block;
	background-color: #e5e5e5;
	padding:6px 4px 7px;
	letter-spacing: 0.06em;
	min-width: 100px;
	box-sizing: border-box;
	text-align: center;
	font-size: 10px;
	font-size: 1rem;
	margin-right: 1px;
	font-weight: bold;

	font-family:'Lato','Roboto','Helvetica Neue', sans-serif;
}

.case_main_slide .text_box p{
	line-height: 1.75;
	letter-spacing: 0.1em;
	margin-bottom: 25px;
}

.case_main_slide .text_box_in{
	width:890px;
	height: 182px;
	position: absolute;
	top:45px;
	left: 0;
	right: 0;
	margin:auto;
}


.case_main_slide .text_box_in .more{
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
	border-bottom: 1px solid #5e5e5e;
	font-family:'Lato','Roboto','Helvetica Neue', sans-serif;
}


#case .case_main{
	width: 1170px;
	border-left:1px solid #FFF;
	box-sizing: border-box;
	max-width: 1170px;
	margin:0 auto;
	padding-left: 5px;
}

#case .case_main .case_item{
	width: 316px;
	float: left;
	min-height: 600px;
	margin-right: 35px;
	margin-left: 35px;
	position: relative;

}
.slick-slider .slick-prev img,
.slick-slider .slick-next img{
	height: 50px;
	width: auto;
}
.slick-slider .slick-prev{
	width: 50px;
}

@media only screen and (max-width: 1170px) {
	#case .case_main .case_item{
		margin-right: 15px;
		margin-left: 15px;

	}
	.slick-dots{
		width: 1100px;
	}
	#case .case_main {
		width: 1050px;
	}
}


.lazyload img{
	transition: all 800ms;
}
.lazyloaded img{
	opacity: 0.6;
}


#case .case_main .case_item .case_sum_img{
	overflow:hidden; 
	transform: scale(1);
}



#case .case_main .case_sum_img p{
	position: absolute;
	background-size: cover;
	top:0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
}


#case .case_main .case_item .art_sum{
	box-sizing: border-box;
	padding: 25px 0px 18px;
	text-align: left;
	
	background-color: #FFF;
	transform:scale(1);
}
#case .time{
	font-size: 12px;
	font-size: 1.2rem;
	letter-spacing: 0.04;
	font-weight: bold;
	margin-bottom: 12px;
}


#case .case_main .case_item:nth-child(1)::after{
	content: "01";
	position: absolute;
	top:-25px;
	left:-12px;
	font-size: 40px;
	font-size: 4rem;
	font-weight: 500;
	font-family:'Roboto','Helvetica Neue', sans-serif;
	letter-spacing: 0.04em;
}

#case .case_main .case_item:nth-child(2)::after{
	content: "02";
	position: absolute;
	top:-25px;
	left:-12px;
	font-size: 40px;
	font-size: 4rem;
	font-weight: 500;
	font-family:'Roboto','Helvetica Neue', sans-serif;
	letter-spacing: 0.04em;
}

#case .case_main .case_item:nth-child(3)::after{
	content: "03";
	position: absolute;
	top:-25px;
	left:-12px;
	font-size: 40px;
	font-size: 4rem;
	font-weight: 500;
	font-family:'Roboto','Helvetica Neue', sans-serif;
	letter-spacing: 0.04em;
}


#case .case_main .case_item:nth-child(4)::after{
	content: "04";
	position: absolute;
	top:-25px;
	left:-12px;
	font-size: 40px;
	font-size: 4rem;
	font-weight: 500;
	font-family:'Roboto','Helvetica Neue', sans-serif;
	letter-spacing: 0.04em;
}

#case .case_main .case_item:nth-child(5)::after{
	content: "05";
	position: absolute;
	top:-25px;
	left:-12px;
	font-size: 40px;
	font-size: 4rem;
	font-weight: 500;
	font-family:'Roboto','Helvetica Neue', sans-serif;
	letter-spacing: 0.04em;
}
#case .case_main .case_item:nth-child(6)::after{
	content: "06";
	position: absolute;
	top:-25px;
	left:-12px;
	font-size: 40px;
	font-size: 4rem;
	font-weight: 500;
	font-family:'Roboto','Helvetica Neue', sans-serif;
	letter-spacing: 0.04em;
}


#case .case_main .case_item h2{
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.75;
	letter-spacing: 0.1em;
	font-weight: bold;
	-webkit-line-clamp;
	text-align: left;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 10px;
}

#case .case_main .case_item .client{
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.75;
	letter-spacing: 0.1em;
	color: #888;

}
#case .case_main .case_item .tag_box{
	text-align: left;
	margin-bottom: 50px;
	height: 50px;
}
#case .case_main .case_item .h25{
	height: 25px;
}

#case .case_main .case_item .tag_box a{
	
	font-size: 10px;
	font-size: 1rem;
	letter-spacing: 0em;
	display: inline-block;
	background-color: #e5e5e5;
	padding:6px 4px 7px;
	letter-spacing: 0.06em;
	min-width: 102px;
	box-sizing: border-box;
	text-align: center;
	font-size: 10px;
	font-size: 1rem;
	font-weight: bold;
	
	margin-right: 1px;
	margin-bottom: 4px;
	font-family:'Lato','Roboto','Helvetica Neue', sans-serif;
}

.tag_box a span{
	letter-spacing: 0.02em;
}

#case .case_main .case_item .more{
	float: left;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
	border-bottom: 1px solid #5e5e5e;
	font-family:'Lato','Roboto','Helvetica Neue', sans-serif;
	margin-bottom: 120px;
}

/*------------------------------------------------------------
	pageList
	------------------------------------------------------------*/
	.pageList {
		margin-bottom: 60px;
		padding-top: 10px;
		text-align: center;
		font-family:'Roboto','Helvetica Neue', sans-serif;
	}

	.pageList li {
		margin: 0 3px;
		display: inline;
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: bold;
		line-height: 30px;
		color: #666666;
		padding: 10px 12px;
	}

	.pageList .prev{
		margin-right: 60px;
	}


	.pageList .next{
		margin-left: 60px;
	}



	.pageList .current span,
	.pageList li a {
		line-height: 1.2;
		display: inline-block;
		color: #666666;
	}
	.pageList li a {
		border-bottom: 1px solid #999999;

	}
	.pageList .leader{
		border-bottom: none;
	}
	.pageList .current span,
	.pageList li a:hover {
		border-bottom: none;
		text-decoration: none;
	}

	.pageList .current {
		padding: 10px 12px;
		background-color:#f2f2f2;
	}

	.case_category_sp{
		margin:0px auto 30px;
		position: relative;
		width: 130px;
		height: 30px;
		overflow:hidden; 
	}

	.case_category_sp span{
		display: inline-block;
		position: relative;
		padding-right: 15px;

	}
	.case_category_sp span::after
	{
		position: absolute;
		top: -4px;
		right: -5px;
		bottom: 0;
		width: 5px;
		height: 5px;
		margin: auto;
		content: '';
		border-bottom: 1px solid #999;
		border-right: 1px solid #999;
		transform: rotate(45deg);
	}


	.case_category_sp.on select{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 130px;
		height: 30px;
	}

	.case_category_sp option{
		font-size: 12px;
		font-size: 1.2rem;
		letter-spacing: 0.045em;
		width: 100px;
		text-align: center;
		font-weight: bolder;
		font-family:'Lato','Roboto','Helvetica Neue', sans-serif;
	}


	.case_category_sp p{
		margin-top: 10px;
	}
	.case_category_sp.on p{
		opacity: 0;
	}

	.case_category_sp {
		position: relative;
		cursor: pointer;
	}

	.label {
		position: absolute;
		width: 100%;
		z-index: 1;
		font-size: 12px;
		font-size: 1.2rem;
		letter-spacing: 0.045em;
		font-family:'Lato','Roboto','Helvetica Neue', sans-serif;
	}

	.select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		display: block;
		cursor: pointer;
		width: 100%;
		border: none;
		padding:10px 20px 20pc; 
		opacity: 0;
		position: relative;
		z-index: 2;
	}

	/* IE10以上で矢印を消す */
	.select::-ms-expand {
		display: none; 
	}



	.active{
		opacity: 0.5 !important;
	}
	@media only screen and (max-width: 768px) {
		#case {
			min-width: 320px;
		}
		

		#case .top_title h1{
			padding: 75px 0 20px;
			font-size: 26px;
			font-size: 2.6rem;
			letter-spacing: 0.02em;
		}
		#case .top_title p {
			font-size: 11px;
			font-size: 1.1rem;
			line-height: 1.75
			
		}

		#case .case_main{
			width: 100%;
			border-left:none;
			box-sizing: border-box;
			width: 346px;
			margin:0 auto;
			padding-left: 0;
		}


		#case .top_title hr {
			width: 28px;
		}


		#case .top_title p {
			line-height: 2.1;
			padding: 15px 15px 45px;
			letter-spacing: 0.04em !important;
		}

		.case_main_slide{
			width: 100%;
			position: relative;
			margin-bottom: 60px;

		}
		#case .case_main .case_item {
			width: 100%;
			box-sizing: border-box;
			padding:0 10px;
			margin: 0;
			min-height: auto;
		}
		.case_main_slide .slide_num{

			position: absolute;
			z-index: 100;
			font-weight: 100;
			top:-35px;
			right: 60px;
			font-family:'Roboto','Helvetica Neue', sans-serif;
			font-size: 100px;
			font-size: 10rem;
			letter-spacing: 0;
		}


		.case_main_slide .slider{
			width: 100%;
			min-width: 320px;
			padding-right: 0px;
		}

		.case_main_slide .img_box{
			height: 225px;
			min-width: 320px;
		}


		.case_main_slide .text_box{
			min-width: 320px;
			width:100%;
			height: 400px;
		}

		.case_main_slide .text_box h2{
			font-size: 13px;
			font-size: 1.3rem;
			letter-spacing: 0em;
			margin-bottom:15px;

		}
		.case_main_slide .text_box h2 span{
			display: block;
			margin-left: 0px;
			margin-top: 7px;
			font-size: 11px;
			font-size: 1.1rem;
			color: #999;
			vertical-align: text-bottom;
		}


		.tag_box:after {
			content:" ";
			display:block;
			clear:both;
		}

		.case_main_slide .text_box .tag_box{
			margin-bottom: 20px;
			letter-spacing: 0;
			width: 100%;
		}

		.case_main_slide .text_box .tag_box a{
			display: block;
			float: left;
			background-color: #e5e5e5;
			padding:6px 0px 7px;
			width: 105px;

			box-sizing: border-box;
			text-align: center;
			font-size: 10px;
			font-size: 1rem;
			margin-right: 4px;
			margin-bottom: 4px;
			font-weight: bold;

			font-family:'Lato','Roboto','Helvetica Neue', sans-serif;
		}

		.case_main_slide .text_box p{
			line-height: 1.75;
			letter-spacing: 0.01em;
			margin-bottom: 15px;
			font-size: 11px;
			font-size: 1.1rem;
		}

		.case_main_slide .text_box_in{
			width:100%;
			box-sizing: border-box;
			padding:0 20px; 
			height: 182px;
			position: absolute;
			top:30px;
			left: 0;
			right: 0;
			margin:auto;
		}


		.case_main_slide .text_box_in .more{
			font-size: 12px;
			font-size: 1.2rem;

		}
		#case .case_main .case_item .tag_box a{
			width: 105px;
		}
		.slick-dots {
			width: 100%;
			bottom: 40px;
		}
		.slick-arrow {
			opacity: 1 !important;
			top:auto !important;
			bottom: 25px;
		}
		.slick-next{
			right: 20px!important;
		}

		.slick-prev{
			left: 20px !important;
		}

		#case .case_main .case_item:nth-child(1)::after{
			content: "01";
			position: absolute;
			top:-18px;
			left:2px;
			font-size: 30px;
			font-size: 3rem;
			font-weight: 500;
			font-family:'Roboto','Helvetica Neue', sans-serif;
			letter-spacing: 0.04em;
		}

		#case .case_main .case_item:nth-child(2)::after{
			content: "02";
			position: absolute;
			top:-18px;
			left:2px;
			font-size: 30px;
			font-size: 3rem;
			font-weight: 500;
			font-family:'Roboto','Helvetica Neue', sans-serif;
			letter-spacing: 0.04em;
		}

		#case .case_main .case_item:nth-child(3)::after{
			content: "03";
			position: absolute;
			top:-18px;
			left:2px;
			font-size: 30px;
			font-size: 3rem;
			font-weight: 500;
			font-family:'Roboto','Helvetica Neue', sans-serif;
			letter-spacing: 0.04em;
		}


		#case .case_main .case_item:nth-child(4)::after{
			content: "04";
			position: absolute;
			top:-18px;
			left:2px;
			font-size: 30px;
			font-size: 3rem;
			font-weight: 500;
			font-family:'Roboto','Helvetica Neue', sans-serif;
			letter-spacing: 0.04em;
		}

		#case .case_main .case_item:nth-child(5)::after{
			content: "05";
			position: absolute;
			top:-18px;
			left:2px;
			font-size: 30px;
			font-size: 3rem;s
			font-weight: 500;
			font-family:'Roboto','Helvetica Neue', sans-serif;
			letter-spacing: 0.04em;
		}
		#case .case_main .case_item:nth-child(6)::after{
			content: "06";
			position: absolute;
			top:-18px;
			left:2px;
			font-size: 30px;
			font-size: 3rem;s
			font-weight: 500;
			font-family:'Roboto','Helvetica Neue', sans-serif;
			letter-spacing: 0.04em;
		}


		.case_main_slide .slide_num{

			position: absolute;
			z-index: 100;
			font-weight: 100;
			top:-30px;
			right: 15px;
			font-family:'Roboto','Helvetica Neue', sans-serif;
			font-size: 50px;
			font-size: 5rem;
			letter-spacing: 0;
		}




		#case .case_main .case_item h2{
			font-size: 12px;
			font-size: 1.2rem;
			line-height: 1.72;
			-webkit-line-clamp: 2;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-bottom: 5px;
		}
		#case .case_main .case_item .client{
			font-size: 11px;
			font-size: 1.1rem;
			margin-bottom: 6px;
		}
		#case .case_main .case_item .more{
			font-size: 12px;
			font-size: 1.2rem;
			margin-bottom: 50px;
		}

		#case .case_main .case_item .art_sum{
			box-sizing: border-box;
			text-align: left;
			padding: 20px 0px 10px;
		}
		#case .case_main .case_item .time{
			font-size: 12px;
			font-size: 1.2rem;
			letter-spacing: 0.04;
			font-weight: bold;
			margin-bottom: 12px;

		}
		#case .case_main .case_item .tag_box{
			margin-bottom: 25px;
			height: auto;
		}
		

		.pageList .prev {
			margin-right: 20px;
		}
		.pageList .next {
			margin-left:20px;
		}
		.pageList {
			margin-bottom: 10px;
			padding-top: 10px;
			text-align: center;
			font-family:'Roboto','Helvetica Neue', sans-serif;
		}

		.pageList li {
			margin: 0 3px;
			display: inline;
			font-size: 11px;
			font-size: 1.1rem;
			font-weight: bold;
			line-height: 30px;
			color: #666666;
			padding: 5px 6px;
		}

	}

	@media only screen and (max-width: 370px) {
		.case_main_slide .text_box_in{
			padding:0 16px; 
		}
		#case .case_main{
			width:100%;
			box-sizing: border-box;
			padding:0 15px; 
		}
		#case .case_main .case_item {
			width: 100%;
			box-sizing: border-box;
			padding:0 0px;
			margin: 0;
			height: auto;
			min-height: 10px;
		}
	}
	@media only screen and (max-width: 330px) {
		
		.case_main_slide .text_box {
			height: 400px;
		}
	}
	/*/////////////////////////////////////////////////////////////////
	記事
	/////////////////////////////////////////////////////////////////*/


	#case.entry  .case_article{
		width: 100%;
		text-align: center;
	}

	#case.entry  .case_article header{
		width: 100%;
		margin:0 auto 70px;
		max-width: 980px;
		
	}

	#case.entry header .header_img{
		height: 450px;
		background-size: cover;
		background-position: center center;
		position: relative;

	}
	#case.entry header .header_img .b_cover{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.6);
	}

	#case.entry header  .entry_title{
		width: 660px;
		height: 280px;
	}


	

	#case.entry .case_article header .header_in{
		width: 820px;
		text-align: left;
		margin:0 auto;
	}
	

	#case.entry .case_article header h1{
		padding: 148px 0 20px;
		line-height: 1.75;
		letter-spacing: 0.1em;
		font-size: 30px;
		font-size: 3rem;
		font-weight: normal;
	}

	#case.entry .case_article header .client{
		color: #999999;
		font-size: 15px;
		font-size: 1.5rem;
		margin-bottom: 40px;
		line-height: 1.6;
	}
	#case.entry .case_article header .tag_box{
		margin-bottom: 80px;
	}

	#case.entry .case_article header .tag_box a{
		display: inline-block;
		background-color: #e5e5e5;
		padding:6px 4px 7px;
		letter-spacing: 0.06em;
		min-width: 100px;
		box-sizing: border-box;
		text-align: center;
		font-size: 10px;
		font-size: 1rem;
		margin-right: 4px;
		font-weight: bold;
		font-family:'Lato','Roboto','Helvetica Neue', sans-serif;
	}







	#case.entry .case_article .entry_body{
		width: 820px;
		text-align: center;
		margin:0 auto;
		line-height: 2.14;
	}

	#case.entry .case_article .entry_body img{
		max-width: 820px;
	}


	#case .case_article .entry_body h2{
		margin-top: 70px;
		margin-bottom: 40px;
		width: 100%;
		text-align: center;
		font-size: 22px;
		font-size: 2.2rem;
		line-height: 1.95;
		font-weight: bold;
	}

	#case .case_article .entry_body h4{
		margin-bottom:30px;
	}
	#case .case_article .entry_body hr {
		border: solid #000;
		border-width: 1px 0 0 0;
		width: 30px;
		margin:0 auto 40px;
	}



	#case.entry .entry_title .case_cate {
		margin: 0px auto 15px;
	}
	#case .case_article .entry_body p{
		width: 100%;
		font-size: 14px;
		font-size: 1.4rem;
		margin-bottom:40px;
		line-height: 2.14;
		text-align: left;
	}

	#case .case_article .entry_body blockquote{
		width: 100%;
		text-align: left;
		font-size: 14px;
		font-size: 1.4rem;
		margin-bottom: 40px;
	}
	#case .case_article .entry_body a{
		text-decoration:underline;
	}

	#case .case_article .entry_body a:hover{
		text-decoration:none;
	}


	#case .case_article .entry_body h3{
		width: 100%;
		text-align: left;
		font-size: 15px;
		font-size: 1.5rem;
		font-weight: bold;
		margin-bottom: 40px;

	}
	#case .case_article .entry_body table{
		width: 100%;
		margin-bottom: 40px;
	}
	#case .case_article .entry_body tbody{
		width: 100%;
		text-align: left;
		font-size: 14px;
		font-size: 1.4rem;
		border-right: 1px solid #CCC;
		border-left: 1px solid #CCC;
		border-top: 1px solid #CCC;
	}

	#case .case_article .entry_body tbody tr {
		height: 50px;
		border-bottom: 1px solid #CCC;
	}

	#case .case_article .entry_body tbody tr td:first-child{
		background-color: #f3f3f3;
		border-right: 1px solid #CCC;

	}
	#case .case_article .entry_body tbody tr td{
		vertical-align:top;
		padding: 14px 16px 14px 16px;

	}

	#case .case_article footer {
		margin:50px auto 0;
		width: 100%;

	}
	#case .case_article footer .entry_footer_box{
		width: 820px;
		text-align: left;
		margin:70px auto 10px;
	}

	#case .case_article footer .entry_footer_info{
		width: 100%;
		background-color: #f3f3f3;
		margin:0 auto;
		text-align: center;
	}

	#case .case_article footer .entry_footer_info_box{
		width: 820px;
		margin:0 auto; 
		padding:47px 0; 

	}
	#case .case_article footer .entry_footer_info_box div{
		float: left;
		text-align: center;
		padding-right: 50px;

		font-weight: bold;
		width: 50%;
		box-sizing: border-box;
	}
	#case .case_article footer .entry_footer_info_box div p{
		font-size: 24px;
		font-size: 2.4rem;
		letter-spacing: 0.04em;
		font-family:'Lato','Roboto','Helvetica Neue', sans-serif;
	}
	#case .case_article footer .entry_footer_info_box div a{
		display: block;
		padding:35px 0px 20px;
	}
	#case .case_article footer .entry_footer_info_box div span{
		display: inline-block;
		font-size: 12px;
		font-size: 1.2rem;
		font-weight: 400;
	}
	#case .case_article footer .entry_footer_info_box div:last-child{
		border-left:1px solid #CCC;
		padding-left: 50px;
		padding-right:0;
	}	



	#case .case_article footer:after{
		content: "";
		display: block;
		clear: both;
	}
	
	#case .case_article footer .return_index {
		
		margin:0 auto 100px;
		width: 120px;
		padding-top: 50px;
		padding-right: 15px;
		font-weight: bold;
	}


	#case .case_article footer .return_index p{
		font-size: 10px;
		font-size: 1rem;
		position: relative;

	}
	#case .case_article footer .return_index p span::before{
		display: block;
		content: "";
		width:3px;
		height: 3px;
		background-color:#000;
		position: absolute;
		top:0px;
		right: -10px; 
	}

	#case .case_article footer .return_index p span::after{
		display: block;
		content: "";
		width:3px;
		height: 3px;
		background-color:#000;
		position: absolute;
		top:5px;
		right: -10px; 
	}

	#case .case_article footer .return_index p ::before{
		display: block;
		content: "";
		width:3px;
		height: 3px;
		background-color:#000;
		position: absolute;
		top:0px;
		right: -15px; 
	}

	#case .case_article footer .return_index p a:after{
		display: block;
		content: "";
		width:3px;
		height: 3px;
		background-color:#000;
		position: absolute;
		top:5px;
		right: -15px; 
	}

	
	#case.entry footer .case_item .art_sum{
		position: relative;

		text-align: left;
		height: 115px;
		background-color: #FFF;
	}




	@media only screen and (max-width: 768px) {
		#case.entry .top_title h1 {
			padding: 75px 0 20px;
		}
		
		#case.entry .case_article header{
			width: 100%;
			box-sizing: border-box;
			padding:0 20px; 
			margin-bottom:50px;
		}

		#case.entry .case_article header h1{
			font-size: 18px;
			font-size: 1.8rem;
			line-height: 1.72;
			padding: 80px 0 15px;
		}

		#case.entry .case_article header .client{
			font-size: 11px;
			font-size: 1.1rem;
			margin-bottom: 30px;
		}


		#case.entry .case_article header .tag_box{
			margin:0 0 40px -2%; 
			letter-spacing: 0;
			width: 105%;
			padding-left: 0px;

		}

		#case.entry .case_article header .tag_box a{
			display: inline-block;
			float: none;
			background-color: #e5e5e5;
			padding:6px 0px 7px;
			width: 105px;

			box-sizing: border-box;
			text-align: center;
			font-size: 10px;
			font-size: 1rem;
			margin-right: 4px;
			margin-bottom: 4px;
			font-weight: bold;

			font-family:'Lato','Roboto','Helvetica Neue', sans-serif;
		}

		#case.entry header .header_img {
			height: 120px;
		}

		#case.entry footer .case_item .case_sum_img{
			min-height: 250px;
		}


		#case.entry .case_article header .header_in{
			width: 100%;
			padding: 0 25px;
			box-sizing:  border-box;
		}

		#case.entry .case_article .case_share{
			width: 170px;
			font-size: 11px;
			font-size: 1.1rem;
			vertical-align: middle;
			padding-top: 28px;
			font-weight:bold;
			margin-bottom: 10px;
		}

		#case.entry .case_article footer .case_share{
			margin-bottom: 20px;
		}
		#case.entry .case_article footer .return_index {
			padding-top: 0px;
			margin: 0 auto 60px;
		}

		#case .case_article footer .entry_footer_info_box{
			width: 100%;
			padding: 30px 0 40px;
		}
		#case .case_article footer .entry_footer_info_box img{
			width: 100%;
		}
		#case .case_article footer .entry_footer_info_box div p{
			font-size: 12px;
			font-size: 1.2rem;
		}
		#case .case_article footer .entry_footer_info_box div span{
			font-size: 10px;
			font-size: 1rem;
		}

		#case .case_article footer .entry_footer_info_box div{
			padding:0 20px !important;
		}
		#case .case_article footer .entry_footer_info_box div a {

			padding: 15px 0px 10px;
		}

		#case.entry .case_article .case_share p{
			padding-right: 10px;
			font-size: 11px;
			font-size: 1.1rem;
			line-height: 1.72;
		}
		#case.entry .case_article .case_share li img{
			height:25px;

		}
		

		#case.entry .case_article .entry_body{
			width: 100%;
			padding: 0 25px;
			box-sizing:  border-box;
		}

		#case.entry .case_article .entry_body img{
			width: 100%;
			margin-bottom:10px;
		}
		#case.entry .case_article .entry_body h2{
			font-size: 16px;
			font-size: 1.6rem;
			letter-spacing: 0.1em;
			line-height: 1.75;
			margin-top: 40px;
			margin-bottom: 20px;
		}
		#case.entry .case_article .entry_body h3{
			font-size: 12px;
			font-size: 1.2rem;
			letter-spacing: 0.1em;
			line-height: 1.75;
			margin-top: 0px;
			margin-bottom: 0px;
		}
		#case.entry .case_article .entry_body h4{
			margin-bottom: 15px;
			letter-spacing: 0.1em;
			font-size: 1px;
			font-size: 1rem;
		}
		#case.entry .case_article .entry_body hr{
			margin-bottom: 20px;
			width: 15px;
		}
		#case.entry .case_article .entry_body p,
		#case.entry .case_article .entry_body blockquote{
			font-size: 11px;
			font-size: 1.1rem;
			margin-bottom: 15px;
			line-height: 2.14;
		}
		#case.entry .case_article .entry_body table{
			margin-bottom: 10px;
		}

		#case.entry .case_article .entry_body tbody{
			font-size: 10px;
			font-size: 1.0rem;
		}
		#case.entry .case_article .entry_body tbody tr td{
			display: block;
			padding: 8px 10px 8px 10px;
		}
		#case.entry .case_article .entry_body tbody tr td:first-child{
			border-right: none;
		}
		#case.entry .case_article .entry_body tbody tr td:last-child{
			border-top:1px solid #CCC;
			border-right: none;
		}

		#case.entry footer .case_item {
			width: 100vw !important;

		}

		#case.entry footer .entry_footer_case_in{
			width: 400vw;

		}

		#case.entry footer .entry_footer_case{
			width: 100vw;
			overflow:hidden; 
		}
		

	}


	.case_controller{
		height: 80px;
		background-color: #efefef;
	}

	.case_controller ul{
		width: 100%;

	}

	.case_controller ul li{
		margin-top: 20px;
		display: inline-block;
	}

	.case_controller ul li.img_left{
		float: left;
		display: inline-block;
		margin-left: 25px;
	}
	.case_controller ul li.img_right{
		float: right;
		display: inline-block;
		margin-right: 25px;
	}


	@media only screen and (max-width: 370px) {
		#case .case_main .case_item h2{
			top:-5px;
		}

	}





